
.container-movies{
  padding-bottom: 15px;
}

.content-similar-movie{
  .title{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.arrow-next{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  &:hover{
    cursor: pointer;
  }
}

.arrow-back{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  &:hover{
    cursor: pointer;
  }
}